[Desktop Entry]
Type=Application
Name=VsTerm
GenericName=SSH Terminal Manager
Comment=Cross-platform SSH terminal manager
Exec=VsTerm
Icon=vsterm
Terminal=false
Categories=Network;TerminalEmulator;Development;
StartupWMClass=VsTerm
